.typing-area {
  text-align: center;
  margin: 20px;
}

.code-container {
  margin-bottom: 10px;
  font-family: "Courier New", Courier, monospace; /* 코드 스타일을 위해 모노스페이스 폰트 */
  font-size: 16px;
  background-color: black; /* 배경색 검정 */
  color: lightgray; /* 텍스트 색상 회색 */
  padding: 20px;
  border-radius: 8px; /* 모서리를 둥글게 처리 */
}

textarea {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
