body {
  background-color: black;
  color: white;
}
.typing-area {
  width: 600px;
  margin: auto;
  margin-top: 150px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 20px;
}
h2,
.footer {
  text-align: center;
}
h2 {
  margin: 0px;
}
.refreshCodeSnippet {
  text-align: right;
}
.refreshCodeSnippet span {
  margin-right: 10px;
}
.code-container {
  margin: 10px 0;
  margin-bottom: 10px;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  border: 1px solid #4caf50;
  color: lightgray;
  border-radius: 10px;
  padding: 10px;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.code-container * {
  pointer-events: none;
}
textarea {
  width: 600px;
  background-color: black;
  color: white;
  border: 1px solid #4caf50;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  height: auto;
  overflow: hidden;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}
button:hover {
  background-color: #45a049;
}

p {
  margin: 5px 0;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.typing-records {
  width: 600px;
  height: 500px;
  overflow: auto;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #ffcd19;
  border-radius: 10px;
  padding: 20px;
}
/* 스크롤바 스타일 */
.typing-records::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.typing-records::-webkit-scrollbar-track {
  background: none; /* 스크롤바 트랙 색상 */
}

.typing-records::-webkit-scrollbar-thumb {
  background: #ddb72d; /* 스크롤바 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.typing-records::-webkit-scrollbar-thumb:hover {
  background: #8d782d; /* 스크롤바 호버 시 색상 */
}

.typing-records h3 {
  text-align: center;
}

.typingRecords {
  padding: 10px;
  border: 2px solid #ffcd19;
  margin-top: 5px;
}
