body {
  background-color: black;
  color: white;
}
.typing-area {
  width: 600px;
  margin: auto;
  margin-top: 150px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 20px;
}
h2,
.footer {
  text-align: center;
}
h2 {
  margin: 0px;
}
.refreshCodeSnippet {
  text-align: right;
}
.refreshCodeSnippet span {
  margin-right: 10px;
}
.code-container {
  margin: 10px 0;
  margin-bottom: 10px;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  border: 1px solid #4caf50;
  color: lightgray;
  border-radius: 10px;
  padding: 10px;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.code-container * {
  pointer-events: none;
}
textarea {
  width: 600px;
  background-color: black;
  color: white;
  border: 1px solid #4caf50;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  height: auto;
  overflow: hidden;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}
button:hover {
  background-color: #45a049;
}

p {
  margin: 5px 0;
}

a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.typing-records {
  width: 600px;
  height: auto;
  max-height: 500px;
  overflow: auto;
  margin: auto;
  margin-top: 20px;
  border: 2px solid #ffcd19;
  border-radius: 10px;
  padding: 20px;
}
/* 스크롤바 스타일 */
.typing-records::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.typing-records::-webkit-scrollbar-track {
  background: none; /* 스크롤바 트랙 색상 */
}

.typing-records::-webkit-scrollbar-thumb {
  background: #ddb72d; /* 스크롤바 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.typing-records::-webkit-scrollbar-thumb:hover {
  background: #8d782d; /* 스크롤바 호버 시 색상 */
}

.typing-records h3 {
  text-align: center;
}

.typingRecords {
  padding: 10px;
  border: 2px solid #ffcd19;
  margin-top: 5px;
}

/* 모달 배경 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* 반투명 흰색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #000; /* 검은색 배경 */
  padding: 20px;
  border: 1px solid #4caf50; /* 초록색 테두리 */
  border-radius: 10px;
  color: white;
  width: 300px;
  text-align: center;
  position: relative;
}

/* 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #4caf50;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.custom-title {
  font-size: 20px;
  color: white;
}
.custom-popup {
  background-color: rgb(54, 54, 54);
}
/* TypingArea.css */
.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 0.8s ease infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text span {
  margin-left: 20px;
}
